/* anotações */

h1 {
    color: blue;
    font-size: 60px;
    letter-spacing: 2;
    text-transform: uppercase;
}

/* div {
    border: solid;
    width: 200px;
    height: 200px;

    padding: 20px;
    margin: 20px;
}

span {
    border: solid;

    width: 200px;
    height: 200px;

    margin: 20px;
    padding: 20px;
} */

.border {
   /* border: solid blue 4px; */
  /* border-width: 4px 3px 3px 2px;
   border-style: dotted solid double dashed;
   border-color: red green blue black; */
   /* border-bottom-style: solid; */
   border-bottom: solid red 5px;
  /* border-left: solid red 5px;
   border-right: solid red 5px; */
}

div, span {
    min-width: 100px;
    max-width: 300px;
    width: 200px;
   /* height: 100px; */
}

.margin {
   /* margin: 30px;
    margin-top: 30px;
    margin-left: 30px; */
    margin: auto;
}

.padding {
    border: solid;
    padding: 20px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-style: normal; /* não italico */
    font-weight: 100;  /* não negrito */
}

mark {
    color: red;
    text-transform: uppercase;
}

a {
    /* text-decoration: line-through red double 1px; */
}

p {
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1;
    word-spacing: 3;
    /* font: italic small-caps bold 16px/1.6 sans-serif; */
}